[KGameTheme]
Name=Default
Description=KNetWalk Default theme for KDE 4
VersionFormat=1
Author=Johann Ollivier Lapeyre
AuthorEmail=johann.ollivierlapeyre@gmail.com
Type=SVG
FileName=default.svgz
Preview=default_preview.png
