[Desktop Entry]
Type=Application
Exec=knetwalk -caption "%c"
X-DocPath=knetwalk/index.html
Name=knetwalk
Name[fi]=Knetwalk
Name[hu]=KNetWalk
Name[ne]=केडीई नेटवाल्क
Name[pa]=ਕੇ-ਨੈੱਟਵਾਕ
Name[sv]=Knetwalk
Name[te]=కెనెట్ వాక్
Name[x-test]=xxknetwalkxx
GenericName=Network Construction Game
GenericName[de]=Netzwerkaufbauspiel
GenericName[pt]=Jogo de Construção de Redes
GenericName[pt_BR]=Jogo de Construção de Redes
Terminal=false
Icon=knetwalk
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;StrategyGame;
Encoding=UTF-8
