[KDE Desktop Entry]
Type=Application
Exec=knetwalk -caption "%c" %i %m
DocPath=knetwalk/index.html
Name=knetwalk
Terminal=false
Icon=knetwalk
X-KDE-StartupNotify=true
