[Desktop Entry]
Type=Application
Exec=knetwalk -caption "%c"
X-DocPath=knetwalk/index.html
Name=KNetWalk
GenericName=Network Construction Game
Terminal=false
Icon=knetwalk
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;StrategyGame;
